:root {
  --primary-color: #093145;
  --secondar-color: burlywood;
  --tertiary-color: #9a2617;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: var(--primary-color);
  font-family: "Times New Roman", Times, serif;
}
p {
  font-size: 20px;
  color: var(--secondar-color);
}
header {
  display: flex;
  flex-wrap: wrap;
}
header nav {
  margin-left: auto;
}
header nav ul {
  font-size: 20px;
  background-color: burlywood;
  box-shadow: 10px 10px 10px black;
  text-decoration-line: none;
  text-align: center;
}
header nav ul li a {
  text-decoration: none;
  color: rgb(52, 56, 47);
}
header h1 {
  color: burlywood;
  padding: 10px;
}
header h1 a {
  color: var(--secondary-color);
}
header img {
  left: 42%;
  width: 200px;
  box-shadow: 10px 10px 10px black;
  align-self: center;
}
section {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0 30px 0;
}

summary h1 {
  color: burlywood;
}

summary {
  text-align: center;
  position: relative;
}

#name {
  font-weight: bold;
  text-decoration: underline;
}
.title {
  width: 20%;
  border-right: 3px solid var(--primary-color);
}

.title h1 {
  font-size: 40px;
  text-align: right;
  padding: 10px 5px 10px 0;
}
.content {
  width: 75%;
  padding-left: 20px;
  align-self: center;
}
.card-text {
  position: relative;
  bottom: 20px;
  padding: 10px 10px 10px 30px;
  background: #373d3f;
  color: var(--tertiary-color);
  font-size: 20px;
}
.card-text p {
  font-size: 15px;
}
#projects .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#coding-quiz {
  background: url(quiz.jpg);
}

#forecast {
  background: url(forecast.jpg);
}

#streamThis {
  display: flex;
  width: 100%;
  padding-top: 300px;
  margin-bottom: 20px;
  border: 3px solid var(--secondary-color);
  background: url(stream.jpg);
  background-size: cover;
}

#coding-quiz,
#forecast,
#streamThis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 49%;
  padding-top: 150px;
  border: 3px solid var(--secondary-color);
  background-size: cover;
  background-position: center;
}
#coding-quiz:hover,
#forecast:hover,
#streamThis:hover {
  opacity: 85%;
  transform: scale(1.1);
}

#contact {
  padding-bottom: 10px;
}
#contact .content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#contact .content ul li {
  color: var(--primary-color);
  font-size: 20px;
  border-bottom: 3px solid var(--primary-color);
  margin: 0 20px 10px 20px;
}
#contact .content ul li a {
  color: var(--secondar-color);
}

footer {
  text-align: center;
  position: relative;
}
footer h1 {
  display: inline-block;
  flex-wrap: wrap;
  color: burlywood;
}
footer p {
  font-weight: bold;
}
#linkedin {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 780px) {
  header {
    justify-content: center;
  }

  header nav {
    margin: 10px 0;
    width: 60%;
  }

  header nav ul {
    justify-content: space-between;
  }

  #about-me,
  #projects,
  #contact {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .title {
    width: auto;
    border-right: none;
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 5px;
  }

  .title h1 {
    text-align: center;
    padding: 0 0 5px 0;
  }

  .content {
    padding: 0;
  }

  #contact .content {
    width: 100%;
  }
}
