* {
    box-sizing: border-box;
}
body {
    background-color: rgb(73, 72, 72);
}
p {
    font-size: 20px;

}
header h1 {
display: inline-block ;
flex-wrap: wrap;
color: burlywood;
}
header nav {
    text-align: center;
    position: relative;
}
ul {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: black;
}
header nav ul li {
    font-size: 20px;
    background-color: ivory;
    box-shadow: 10px 10px 10px black;
    margin: 10px blue;
    display: inline-block;
    text-decoration-line: none;
    text-align: center;
}
header nav ul li a {
    text-decoration: none;
    color: rgb(52, 56, 47);
}
summary {
    text-align: center;
    position: relative;
}

#name {
    font-weight: bold;
    text-decoration: underline;
}
#projects {
display: flex;
flex-wrap: wrap;
align-items: center;
text-align: center;
justify-content: center;
}
#projects h2 {
    position: fixed;
    text-align: center;
}

#projects figure {
margin: 15px;
text-align: center;
}


#projects figure img {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 10px 10px 10px black;
    align-items: center;

}
img:hover {
        position:relative;
        top:-25px;
        left:-35px;
        width:500px;
        height:auto;
        display:block;
        z-index:999;
    transform: scale(1.4);
}

footer {
    text-align: center;
    position: relative;
}
footer h1 {
    display: inline-block ;
    flex-wrap: wrap;
    color: burlywood;
    }
footer p {
    font-weight: bold;

}
#linkedin{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 680px) {
    #projects {
        flex-direction: column;
        align-items: center;
    }
}