* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: grey;
    display: block;
}
p {
    font-size: 20px;

}
header h1 {
display: inline-block ;
flex-wrap: wrap;
color: burlywood;
}
header nav {
    text-align: center;
    position: relative;
}
header nav ul li {
    font-size: 25px;
    background-color: ivory;
    box-shadow: 10px 10px 10px black;
    margin: 10px;
    display: inline-block;
    text-decoration-line: none;
    text-align: center;
}
header nav ul li a {
    text-decoration: none;
    color: rgb(52, 56, 47);
}
summary {
    text-align: center;
    position: relative;
}
#name {
    font-weight: bold;
}
#projects {
display: flex;
flex-wrap: wrap;
align-items: center;
}
#projects figure {
margin: 15px;
text-align: center;
}

main section figure img {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 10px 10px 10px black;
    justify-content: center;
    border-color: blue;
    border-width: 10px;
    text-align: center;
    justify-content: center;
}
main section figure img 

footer {
    text-align: center;
    position: relative;
}
footer h1 {
    display: inline-block ;
    flex-wrap: wrap;
    color: burlywood;
    }
footer p {
    font-weight: bold;

}